<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS Tutorial - The Net Ninja</title>
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   </head>
  <body>
    <div id="vue-app">
      <h1>Looping through lists</h1>
      <ul>
        <!-- we fetch the index of the array so we can use it -->
        <li v-for="(character, index) in characters">{{ index }}.{{ character }}</li>
      </ul>
      <ul>
        <li v-for="(ninja, index) in ninjas">{{ index }}.{{ ninja.name }}: {{ ninja.age }}</li>
      </ul>
      <!-- we use template so that we will not render anything -->
      <!-- if we had use <div v-for=...> we will have had several div in our page -->
      <template v-for="(ninja, index) in ninjas">
        <h3>{{ index }}.{{ ninja.name }}</h3>
        <p>{{ ninja.age }}</p>
      </template>
      <br>
      <!-- what if do not know the keys in our object? -->
      <template v-for="ninja in ninjas">
        <div v-for="(val, key) in ninja">
          <p>{{ key }} - {{ val }}</p>
        </div>
      </template>
    </div>

    <!-- load at the bottom otherwise VueJs will not render in page -->
    <script src="app.js"></script>
  </body>
</html>